/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Style */

.QuestionContainer {
    display: flex;
    flex-direction: column;
    background-image: url('./lilypads.png');
}

.Question {
    background: rgba(175, 165, 165, 0.5);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: sans-serif;
    padding-right: 10px;

    /* display each of these as a grid */
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    box-shadow: 8px 8px 6px 8px #888888;
}

.Question-prompt {
    grid-column: 2;
    font-size: 18pt;
    margin-top: 6px;
    font-family: 'Nunito', sans-serif;
}

.Question-image {
    grid-column: 1;
    grid-row: 1 / span 3;
}

.Question-explanation {
/*     
    opacity: 0;
    visibility: hidden;
    */
    transition: opacity 1s;
    grid-row: 3;
}

.Question--answered .Question-explanation {
    opacity: 1;
}

.Question-options {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin-top: 3vh;
}

.Question-options button {
    background: whitesmoke;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 3vh;
    font-family: 'Nunito', sans-serif;
}


.Question-options button:hover {
    box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.5);
}

.Header {
    font-family: 'Nunito', sans-serif;
    font-size: 40pt;
    text-align: center;
    margin-bottom: 30px;
}

.Guesses {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    font-weight: bold;
}

.Results-Header {
  font-family: 'Nunito', sans-serif;
  font-size: 50pt;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 800px;
  padding-top: 33vh;
}

.Results-Container {
  background: url('./lilypads.png');

}
